body {
    background-color: #FCBAD3;
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container {
    text-align: center;
}

#birthday-message {
    color: #E23E57;
    font-size: 2.5em;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#celebrate-button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #90be6d;
    border: none;
    border-radius: 5px;
}

#celebrate-button:hover {
    background-color: #43aa8b;
}

#cake-container {
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
}

.cake {
    width: 200px;
    height: 100px;
    background: url(../images/photo_2024-12-31_22-45-09.jpg);
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.candle {
    width: 10px;
    height: 30px;
    background-color: #fff; /* رنگ شمع */
    position: absolute;
    bottom: 100%;
}

#candle1 { left: 40px; }
#candle2 { left: 90px; }
#candle3 { left: 140px; }